# Application
bedrock/web/app/plugins/*
!bedrock/web/app/plugins/.gitkeep
bedrock/web/app/mu-plugins/*/
bedrock/web/app/themes/twentytwentythree/
bedrock/web/app/upgrade
bedrock/web/app/uploads/*
!bedrock/web/app/uploads/.gitkeep
bedrock/web/app/cache/*

# WordPress
bedrock/web/wp
bedrock/web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
bedrock/vendor

# WP-CLI
wp-cli.local.yml

# End bedrock default

# Database volume
data

# Node Package Manager
node_modules

# Certs
certs/

# Custom
.DS_Store
